@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-[#E9EDF3] text-ink antialiased;
    font-family: theme('fontFamily.sans');
    -webkit-tap-highlight-color: transparent;
  }

  button {
    @apply select-none;
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
